.centered
{
    margin: 0 auto;
}

form{
    margin: 0;
}

.section-spacer{
    flex-grow: 1;
}

img{
    max-width: 100%;
    height: auto;
    width: 100%;
}

.mdl-menu__item a{
    text-decoration: none;
    color: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a{
    text-decoration: none;
}
.mdl-button{
    overflow: visible;
}

.menu-top-right{
    color: #FFF;
}

.mdl-icon-toggle .mdl-icon-toggle__input:checked + i{
    color: green !important;
}

.material-icons.icon-align{
    margin-right: .5rem;
}
.icon-align{
    display: inline-block;
    vertical-align: middle;
}

.multi-elements .remove-element{
    right: 0;
}
