// @import "modules/material.min.scss";
@import "modules/toastr";

.mdl-grid{
    max-width: 1024px;
}
.mdl-layout__header{
    background-color: none;
}
.mdl-layout__container{
    background: grey;
}
.trip-list{
    .mdl-card__media{
        padding: 24px;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: flex-end;
    }
}
.mdl-card__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.centered
{
    margin: 0 auto;
}

.mdl-card.large-card{
    width: 512px;
    .mdl-card__supporting-text{
        width: auto;
    }
    .mdl-textfield{
        width: 100%;
    }
}

.mdl-card.wide-card{
    width: 960px;
}

form{
    margin: 0;
}

.section-spacer{
    flex-grow: 1;
}
