// @import "modules/material.min.scss";
@import "modules/toastr";

.mdl-grid{
    max-width: 1024px;
}
.mdl-layout__header{
    background-color: none;
}
.mdl-layout__container{
    background: grey;
}
.trip-list{
    .mdl-card__media{
        padding: 24px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

.centered
{
    margin: 0 auto;
}

.mdl-card.large-card{
    width: 512px;
    .mdl-card__supporting-text{
        width: auto;
    }
    .mdl-textfield{
        width: 100%;
    }
}

.mdl-card.wide-card{
    width: 960px;
}

form{
    margin: 0;
}
