// @import "modules/material.min.scss";
@import "modules/toastr";
@import "modules/dialog-polyfill";
@import "cards";
@import "helpers";
@import "animations";


.mdl-grid{
    max-width: 1024px;
}
.mdl-layout__header{
    background-color: none;
}
.mdl-layout__container{
    background: grey;
}
.mdl-layout__drawer-button, .mdl-layout__drawer{
   left: initial;
   right: 0;
}

.mdl-layout__drawer{
   transform:translateX(250px);
}
.main_content{
    padding-top: 3em;
}
// HOMEPAGE
.trip-list,
.steps-list{
    .mdl-card{
        overflow: visible;
    }
    .step-wrapper{
        padding: 0;
    }
    .mdl-card__media{
        padding: 24px;
        min-height: 110px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        position: relative;
    }
    h2 a {
        color: #FFF;
    }
}

// Steps list
.add-step{
    position: absolute;
    right: 1em;
    bottom: -2rem;
}
.trip-head{
    margin-bottom: 2rem;
}

.steps-list {
    .mdl-card__title .material-icons{
        color: #FFF;
        position: relative;
        top: 3px;
        margin-right: .5rem;
    }
    .step-icon{
        margin: 0;
        background: #C5E1A5;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            height: 100%;
            width: 1.2rem;
            background: #FFCC80;
            left: calc(50% - 0.6rem);
        }
        &:after{
            position: absolute;
            content:'';
            height:3rem;
            width:3rem;
            background: #FFB74D;
            box-shadow:inset 0 0 0 .4rem #FFCC80;
            border-radius: 50%;
            left:calc( 50% - 1.5rem);
            top:calc( 50% - 1.5rem);
        }
    }
    .first:before{
        height: 50%;
        bottom: 0;
    }
    .first:after{
        background: #FFA726;
    }
    .last:before{
        height: 50%;
        top: 0;
    }
    .last:after{
        background: #9CCC65;
    }
    .final:after{
        background-color: #eee;
    background-image: linear-gradient(45deg, #888 25%, transparent 25%, transparent 75%, #888 75%, #888),
    linear-gradient(-45deg, #888 25%, transparent 25%, transparent 75%, #888 75%, #888);
    background-size: 10px 10px;
    background-position: 7px;

    }
    .first .pulse{
        position: absolute;
        content:'';
        border-radius: 50%;
        height:3rem;
        width:3rem;
        left:calc( 50% - 1.5rem);
        top:calc( 50% - 1.5rem);
        box-shadow:inset 0 0 0 1rem #FFCC80;
        animation-name:pulse-icon;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background: none;
    }
    .final .pulse{
        display: none;
        animation:none;
    }
}
.icon-choose-dialog{
    .icon-list li{
        cursor: pointer;
        &.selected-icon{
            background: #DCEDC8;
        }
    }
}
.arrow-icon{
    margin-left: 2rem;
}

// photos
.index-photos{
    &>.mdl-card{
        overflow: visible;
    }
    .add-photo{
        position: absolute;
        right: 4rem;
        top: -2rem;
    }
}
.photo-choose-dialog{
    max-width: 80%;
    width: 100%;
    .trigger-add-photos{
        float: right;
    }
    .selected {
        border: 10px solid #4CAF50;
    }
}
dialog .pager{
    li{
        display: inline-block;
    }
    a,span{
        padding: .5rem 1rem;
        background: rgb(255,171,64);
        text-decoration: none;
        color: white;
        font-size: 2rem;
        border-radius: 2px;

    }
    .disabled span{
        background: #BDBDBD;
    }
}
.dropzone input{
    display: none;
}
