// @import "modules/material.min.scss";
@import "modules/toastr";
@import "modules/dialog-polyfill";
@import "cards";
@import "helpers";
@import "animations";


.mdl-grid{
    max-width: 1024px;
}
.mdl-layout__header{
    background-color: none;
}
.mdl-layout__container{
    background: grey;
}
.mdl-layout__drawer-button, .mdl-layout__drawer{
   left: initial;
   right: 0;
}

.mdl-layout__drawer{
   transform:translateX(250px);
}
.main_content{
    padding-top: 3em;
}
// HOMEPAGE
.trip-list,
.show-step,
.steps-list{
    .mdl-card{
        overflow: visible;
    }
    .step-wrapper{
        padding: 0;
    }
    .mdl-card__media{
        padding: 24px;
        min-height: 110px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        position: relative;
        h2,
        h2 a {
            color: #FFF;
        }
    }
}

// Steps list
.add-step{
    position: absolute;
    right: 1em;
    bottom: -2rem;
}
.trip-head{
    margin-bottom: 2rem;
}

.steps-list {
    .mdl-card__title .material-icons{
        color: #FFF;
        position: relative;
        top: 3px;
        margin-right: .5rem;
    }
    .step-icon{
        margin: 0;
        background: #C5E1A5;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            height: 100%;
            width: 1.2rem;
            background: #FFCC80;
            left: calc(50% - 0.6rem);
        }
        &:after{
            position: absolute;
            content:'';
            height:3rem;
            width:3rem;
            background: #FFB74D;
            box-shadow:inset 0 0 0 .4rem #FFCC80;
            border-radius: 50%;
            left:calc( 50% - 1.5rem);
            top:calc( 50% - 1.5rem);
        }
    }
    .first:before{
        height: 50%;
        bottom: 0;
    }
    .first:after{
        background: #FFA726;
    }
    .last:before{
        height: 50%;
        top: 0;
    }
    .last:after{
        background: #9CCC65;
    }
    .final:after{
        background-color: #eee;
    background-image: linear-gradient(45deg, #888 25%, transparent 25%, transparent 75%, #888 75%, #888),
    linear-gradient(-45deg, #888 25%, transparent 25%, transparent 75%, #888 75%, #888);
    background-size: 10px 10px;
    background-position: 7px;

    }
    .first .pulse{
        position: absolute;
        content:'';
        border-radius: 50%;
        height:3rem;
        width:3rem;
        left:calc( 50% - 1.5rem);
        top:calc( 50% - 1.5rem);
        box-shadow:inset 0 0 0 1rem #FFCC80;
        animation-name:pulse-icon;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background: none;
    }
    .final .pulse{
        display: none;
        animation:none;
    }
}
.icon-choose-dialog{
    .icon-list li{
        cursor: pointer;
        &.selected-icon{
            background: #DCEDC8;
        }
    }
}
.arrow-icon{
    margin-left: 2rem;
}

// Step view

.show-step{
    .resume-block{
        .mdl-card__media{
            flex: auto;
        }
    }
    .pois-block{
        h4,
        .mdl-list{
            margin: 0;
        }
    }
    .desc-block{
        .content-text{
            max-width: 70%;
            margin: 0 auto;
        }
    }
    .img-block{
        overflow: visible;
    }
    @media screen and (max-device-width: 479px) {
        .desc-block{
            .content-text{
                max-width: 90%;
                margin: 0 auto;
            }
        }
    }
}
#photo-caption {
    position: fixed;
    bottom: 2.5%;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1011;
    color: #FFF;
    text-align: center;
    transition: all .25s ease-in-out;
    transform: translateY(100%);
    &.visible{
        padding: 1rem;
        opacity: 1;
        transform:translateY(0);
    }
    .title{
        font-weight: bold;
        margin-right: .3rem;
        &:after{
            content:" - ";
            display: inline;
        }
    }
}

// photos
.index-photos{
    &>.mdl-card{
        overflow: visible;
    }
    .add-photo{
        position: absolute;
        right: 4rem;
        top: -2rem;
    }
}
.photo-choose-dialog{
    max-width: 80%;
    width: 100%;
    .trigger-add-photos{
        float: right;
    }
    .selected {
        border: 10px solid #4CAF50;
    }
    .photo-element{
        cursor: pointer;
    }
}
.images-add-block{
    margin-right: .5rem;
}
dialog .mdl-progress{
    margin: 6rem auto;
}
dialog .pager{
    text-align: center;
    padding-left: 0;
    li{
        display: inline-block;
    }
    a,span{
        padding: .5rem 1rem;
        background: rgb(255,171,64);
        text-decoration: none;
        color: white;
        font-size: 2rem;
        border-radius: 2px;

    }
    .disabled span{
        background: #BDBDBD;
    }
}
.dropzone input{
    display: none;
}
@media screen and (max-device-width: 479px) {
    .mdl-card .mdl-card__actions.multi-btns{
        display: block;

        .mdl-button{
            display: block;
            margin-bottom: .5rem;
            width: 100%;
            padding: 0;
        }
    }
    dialog {
        .img-gallery,
        .mdl-dialog__content{
            padding: 0;
        }
    }
}
